<div class="Component2" style="width: 19vw; height: 88vh; position: relative">
  <div class="GridContainer" style="width: 100%; height: 100px;  position: absolute; background: white; "></div>
  <div class="DropdownMenu" style="padding-top: 4px;width: 100%; height: 45%;  top: 12%; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">

    <button (click)="programs()" class="btn ova" style="width: 100%; flex: 1 1 0; height: 30px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
      <div class="ComponentsDropdownMenuItem" style="align-self: stretch; flex: 1 1 0; padding-left: 16px; padding-right: 16px; padding-top: 4px; padding-bottom: 4px; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: normal; gap: 8px; display: inline-flex">
        <div class="Content" style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div class="Text" style=" flex-direction: column; justify-content: left; align-items: flex-start; display: inline-flex">
            <div class="Text" style=" font-size: 20px; font-family: Actor; font-weight: 400; line-height: 30px; word-wrap: break-word">Programs</div>
          </div>
        </div>
      </div>
    </button>
    <button (click)="documentation()" class="btn ova" style="width: 100%; flex: 1 1 0; height: 30px; justify-content: flex-start; align-items: normal; gap: 8px; display: flex">
      <div class="ComponentsDropdownMenuItem" style="align-self: stretch; flex: 1 1 0; padding-left: 16px; padding-right: 16px; padding-top: 4px; padding-bottom: 4px; background: rgba(255, 255, 255, 0); justify-content: left; align-items: normal; gap: 8px; display: inline-flex">
        <div class="Content" style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div class="Text" style=" flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
            <div class="Text" style="font-size: 20px; font-family: Actor; font-weight: 400; line-height: 30px; word-wrap: break-word">Documentation</div>
          </div>
        </div>
      </div>
    </button>
    <button (click)="more()" class="btn ova" style="width: 100%; flex: 1 1 0; height: 30px; justify-content: flex-start; align-items: normal; gap: 8px; display: flex">
      <div class="ComponentsDropdownMenuItem" style="align-self: stretch; flex: 1 1 0; padding-left: 16px; padding-right: 16px; padding-top: 4px; padding-bottom: 4px; background: rgba(255, 255, 255, 0); justify-content: left; align-items: normal; gap: 8px; display: inline-flex">
        <div class="Content" style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div class="Text" style=" flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
            <div class="Text" style="font-size: 20px; font-family: Actor; font-weight: 400; line-height: 30px; word-wrap: break-word">More information</div>
          </div>
        </div>
      </div>
    </button>

  </div>

  <button (click)="home()" class="btn ova" style=" border-radius: 1px; width: 100%; height: 52.41px; left: 0px; top: 3%; position: absolute;">
    <div class="ComponentsDropdownMenuItem" style="width: 100%; height: 52.41px; padding-left: 16px; padding-right: 16px; padding-top: 4px; padding-bottom: 4px; left: 0px; top: 0px; position: absolute; background: #2A366B; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
      <div class="Wrapper" style="flex: 1 1 0; height: 48px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
        <div class="Content" style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div class="Text" style="flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
            <div class="Text" style="text-align: center; color: white; font-size: 24px; font-family: Noto Sans SC; font-weight: 400; line-height: 48px; word-wrap: break-word">Home</div>
          </div>
        </div>
      </div>
    </div>
    <div class="Book" style="width: 22.38px; height: 24.72px; left: 80%; top: 13.84px; position: absolute">
      <div class="Vector" style="width: 22.38px; height: 20.25px; left: 8px; top: 1.38px; position: absolute;color: white">
        <i class="fas fa-book"></i></div>
    </div>
  </button>
  <button class="btn ova" style="width: 100%; height: 53.18px; left: 0px; top: 80%; position: absolute">
    <div class="ComponentsDropdownMenuItem" style="width: 211.91px; height: 53.18px; padding-left: 16px; padding-right: 16px; padding-top: 4px; padding-bottom: 4px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
      <div class="Wrapper" style="flex: 1 1 0; height: 40px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
        <div class="Content" style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div class="Text" style=" flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
            <div class="Text" style="text-align: center;  font-size: 20px; font-family: Noto Sans SC; font-weight: 400; line-height: 40px; word-wrap: break-word">SETTINGS</div>
          </div>
        </div>
      </div>
    </div>
    <div class="Gear" style="width: 24.69px; height: 24.08px; left: 81%; top: 15.05px; position: absolute">
      <div class="Vector" style="width: 24.69px; height: 24.08px; left: 0.01px; top: 0.01px; position: absolute">
        <i class="fa-solid fa-cog"></i></div>
    </div>
  </button>
  <button (click)="logout()" class="btn ova" style="width: 100%; height: 53.18px; left: 0px; top: 88%; position: absolute">
    <div class="ComponentsDropdownMenuItem" style="width: 206px; height: 53.18px; padding-left: 16px; padding-right: 16px; padding-top: 4px; padding-bottom: 4px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
      <div class="Wrapper" style="flex: 1 1 0; height: 40px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
        <div class="Content" style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div class="Text" style=" flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
            <div  class="Text" style="text-align: center;  font-size: 20px; font-family: Noto Sans SC; font-weight: 400; line-height: 40px; word-wrap: break-word">LOGOUT</div>
          </div>
        </div>
      </div>
    </div>
    <div class="BoxArrowRight" style="width: 24px; height: 24.08px; left: 81%; top: 15.05px; position: absolute">
      <div class="Vector" style="width: 16.50px; height: 18.06px; left: 6px; top: 3.01px; position: absolute">
        <i class="fa-solid fa-sign-out"></i></div>
    </div>
  </button>
</div>
